<?xml version="1.0" encoding="utf-8"?>
<!--Start of user code zone 1
      -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
    package="fr.inria.diverse.mobileprivacyprofiler" >
	
		<uses-sdk android:minSdkVersion="19" />

	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission
		android:name="android.permission.GET_ACCOUNTS"
		android:maxSdkVersion="22" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission
		android:name="android.permission.PACKAGE_USAGE_STATS"
		tools:ignore="ProtectedPermissions" />
	<uses-permission android:name="android.permission.READ_CALENDAR" />
	<uses-permission android:name="android.permission.READ_CALL_LOG" />
	<uses-permission android:name="android.permission.READ_SMS" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.WRITE_SMS" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<application
        android:icon="@drawable/app_ic_launcher"
        android:label="@string/app_name" >
<!--End of user code-->
	
		<activity  
			android:name=".activities.Preferences_PreferenceViewActivity" 
			android:parentActivityName=".activities.Home_CustomViewActivity"
        	android:label="@string/app_name">
			
			<!-- Parent activity meta-data to support 4.0 and lower -->
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value=".activities.Home_CustomViewActivity" />
		</activity>
		<activity  android:theme="@style/AppTheme"
			android:name=".activities.Home_CustomViewActivity" 
        	android:label="@string/app_name">
			
			<intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		</activity>
		<activity  android:theme="@style/AppTheme"
			android:name=".activities.ApplicationHistoryList_ClassListViewActivity" 
			android:launchMode="singleTop"
			android:parentActivityName=".activities.Home_CustomViewActivity"
        	android:label="@string/app_name">
			
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />				
            	<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
			<meta-data android:name="android.app.searchable"
                   android:resource="@xml/applicationhistorylist_classlistview_searchable"/>
			<!-- Parent activity meta-data to support 4.0 and lower -->
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value=".activities.Home_CustomViewActivity" />
		</activity>
		<activity  android:theme="@style/AppTheme"
			android:name=".activities.ManualScan_CustomViewActivity" 
			android:parentActivityName=".activities.Home_CustomViewActivity"
        	android:label="@string/app_name">
			
			<!-- Parent activity meta-data to support 4.0 and lower -->
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value=".activities.Home_CustomViewActivity" />
		</activity>
		<activity  android:theme="@style/AppTheme"
			android:name=".activities.AdvancedScanning_CustomViewActivity" 
			android:parentActivityName=".activities.Home_CustomViewActivity"
        	android:label="@string/app_name">
			
			<!-- Parent activity meta-data to support 4.0 and lower -->
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value=".activities.Home_CustomViewActivity" />
		</activity>
		<activity  android:theme="@style/AppTheme"
			android:name=".activities.ApplicationHistoryDetail_ElementViewActivity" 
			android:parentActivityName=".activities.ApplicationHistoryList_ClassListViewActivity"
        	android:label="@string/app_name">
			
			<!-- Parent activity meta-data to support 4.0 and lower -->
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value=".activities.ApplicationHistoryList_ClassListViewActivity" />
		</activity>
<!--Start of user code zone 2
      -->
		<service
			android:name="com.evernote.android.job.gcm.PlatformGcmService"
			tools:node="remove" />
		<service
			android:name=".services.OperationDBService"
			android:enabled="true"
			android:exported="true" />
		<service
			android:name=".services.ScanSocialIntentService"
			android:exported="false" />
		<service
			android:name=".services.ScanActivityIntentService"
			android:exported="false" />
		<service
			android:name=".services.ScanConnectionIntentService"
			android:exported="false" />
		<service
			android:name=".services.ScanContactIntentService"
			android:exported="false"></service>
		<service
			android:name=".services.PacketSnifferService.PacketSnifferService"
			android:permission="android.permission.BIND_VPN_SERVICE">
			<intent-filter>
				<action android:name="android.net.VpnService" />
			</intent-filter>
		</service>

		<receiver android:name=".broadcastReceiver.WifiScanReceiver"  android:enabled="true">
			<intent-filter>
				<action android:name="android.net.wifi.WifiManager.SCAN_RESULTS_AVAILABLE_ACTION"/>
			</intent-filter>
		</receiver>

<!--End of user code-->
    </application>

</manifest>
